body
{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #00e969, #1ab38c, #0850e3);
    font-family: "Lato", sans-serif;
}

body::-webkit-scrollbar
{
    display: none;
}

.container
{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}
.container h1
{
    font-size: 40px;
    color: indianred;
    text-shadow: 3px 3px peachpuff;
    padding: 0px;
}


.container form
{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 60px;
    margin: 0px;

}

.container div
{
    width: 700px;
    font-size: 25px;
    display: grid;
    gap: 5px;
    place-items: center;
    font-weight: bold;
    color:hotpink;
    text-shadow: 2px 2px peachpuff;
    margin-bottom: 50px
}

input
{
    width: 300px;
    height: 40px;
    border-radius: 50px;
    outline: none;
    border: none;
    
    
}

input[type=text]
{
    padding: 0px 20px ;
    font-size: 20px;
    display: flex;
    border: 2px solid transparent;
}

input:focus
{
    border: 2px solid blue;
}



input[type=submit]
{
    width: 150px;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    position: relative;
    left: 55%;
}

input[type=submit]:hover
{
    opacity: 0.8;
    /* border: 1px solid blue; */
    /* transition: 0.2s ease-in-out; */
}


@media only screen and (max-width: 500px)
{
    body
    {
        background-repeat: no-repeat;
        background-image: linear-gradient( 120deg, #00e969, #1ab38c, #0850e3);
        box-sizing: border-box;

    }

    body::-webkit-scrollbar
    {
        display: none;
    }

    #name
    {
        position: none;
        margin: 0px;
    }


    .container form
    {
        display: inline-block;
    }

    .container div
    {
        font-size: 20px;
        width: 250px;
        /* border: 2px solid red; */
        text-shadow: 1px 1px 1px peachpuff;
        margin-bottom: 40px;
    }

    .container
    {
        height: fit-content;
    }

    .container h1 
    {
        font-size: 40px;
    }

    input
    {
        width: 200px;
        height: 30px;
    }

    input[type=text]
    {
        font-size: 17px;
    }

    input:focus
    {
        border: 2px solid blue;
    }

    input[type=submit]
    {
        left: 0%;
        color: indianred;
        font-weight: bold;
        background-color: peachpuff;
    }

    #heading
    {
        margin: 0px;
        width: 200px;
    }


}



